<section class="container">
  <h2>Projetos em Destaque</h2>

  <div class="projeto">
    <img src="imagens/reciclagem.jpeg" alt="Reciclagem">
    <div class="texto">
      <strong>Reciclagem Comunitária:</strong>
      <p>Programas de coleta e reciclagem de resíduos, envolvendo escolas e comunidades locais.</p>
      <div class="badges">
        <span class="badge verde">Sustentabilidade</span>
        <span class="badge azul">Comunidade</span>
      </div>
    </div>
  </div>

  <div class="projeto">
    <img src="imagens/Educacao.jpeg" alt="Educação">
    <div class="texto">
      <strong>Educação Ambiental:</strong>
      <p>Oficinas, palestras e materiais educativos para conscientizar sobre o consumo responsável.</p>
      <div class="badges">
        <span class="badge azul">Educação</span>
        <span class="badge verde">Consciência</span>
      </div>
    </div>
  </div>

  <div class="projeto">
    <img src="imagens/renovavel.jpeg" alt="Energia Renovável">
    <div class="texto">
      <strong>Energia Renovável:</strong>
      <p>Incentivo à adoção de soluções de energia limpa, como painéis solares.</p>
      <div class="badges">
        <span class="badge amarelo">Energia</span>
        <span class="badge verde">Sustentabilidade</span>
      </div>
    </div>
  </div>
</section>
